In [1]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('covid19.csv')

In [18]:
df['Province | State'] = df['Province/State'].fillna(df['Province_State'])

In [19]:
df['Country | Region'] = df['Country/Region'].fillna(df['Country_Region'])

In [20]:
df['Last Update'] = df['Last Update'].fillna(df['Last_Update'])

In [23]:
df['Lat'] = df['Lat'].fillna(df['Latitude'])
df['Long'] = df['Long_'].fillna(df['Longitude'])

In [25]:
df.drop(columns=['Province/State', 'Country/Region', 'Last_Update', 'Province_State', 'Country_Region',
                 'Longitude', 'Long_', 'Latitude'], inplace=True)

In [29]:
df.head()

,Last Update,Confirmed,Deaths,Recovered,FIPS,Admin2,Lat,Active,Combined_Key,Province | State,Country | Region,Long
0,1/22/2020 17:00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Anhui,Mainland China,NaN
1,1/22/2020 17:00,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beijing,Mainland China,NaN
2,1/22/2020 17:00,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chongqing,Mainland China,NaN
3,1/22/2020 17:00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fujian,Mainland China,NaN
4,1/22/2020 17:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gansu,Mainland China,NaN

In [33]:
df = df[['Country | Region', 'Province | State', 'Active', 'Confirmed', 'Deaths', 'Recovered', 'FIPS', 'Admin2', 'Lat',
   'Long', 'Combined_Key', 'Last Update']]

In [38]:
df.describe()

,Active,Confirmed,Deaths,Recovered,FIPS,Lat,Long
count,10249.000000,17847.000000,17425.000000,17478.000000,9452.000000,15035.000000,15035.000000
mean,62.674017,335.850283,12.473171,119.659744,30476.632353,34.485023,-54.680232
std,1191.324569,3539.850427,176.823449,1939.431972,15292.642313,15.265281,71.043352
min,-6.000000,0.000000,0.000000,0.000000,1001.000000,-42.882100,-170.132000
25%,0.000000,0.000000,0.000000,0.000000,18181.000000,32.306235,-95.751343
50%,0.000000,2.000000,0.000000,0.000000,29184.000000,37.668140,-84.536100
75%,0.000000,23.000000,0.000000,0.000000,45089.500000,42.011519,-58.930200
max,54030.000000,69176.000000,6820.000000,60324.000000,99999.000000,72.000000,178.065000

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17866 entries, 0 to 17865
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country | Region  17866 non-null  object
 1   Province | State  14118 non-null  object
 2   Active            10249 non-null  float64
 3   Confirmed         17847 non-null  float64
 4   Deaths            17425 non-null  float64
 5   Recovered         17478 non-null  float64
 6   FIPS              9452 non-null   float64
 7   Admin2            9513 non-null   object
 8   Lat               15035 non-null  float64
 9   Long              15035 non-null  float64
 10  Combined_Key      10249 non-null  object
 11  Last Update       17866 non-null  object
dtypes: float64(7), object(5)
memory usage: 1.6+ MB

In [47]:
df.loc[(df['Country | Region']=='US') & (df['Province | State']=='California')]

,Country | Region,Province | State,Active,Confirmed,Deaths,Recovered,FIPS,Admin2,Lat,Long,Combined_Key,Last Update
204,US,California,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/26/20 16:00
251,US,California,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/27/20 23:59
302,US,California,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/28/20 23:00
354,US,California,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/29/20 19:30
409,US,California,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/30/20 16:00
...,...,...,...,...,...,...,...,...,...,...,...,...
17287,US,California,0.0,17.0,0.0,0.0,6107.0,Tulare,36.220266,-118.802020,"Tulare, California, US",2020-03-24 23:37:31
17290,US,California,0.0,0.0,0.0,0.0,6109.0,Tuolumne,38.026440,-119.952509,"Tuolumne, California, US",2020-03-24 23:37:31
17366,US,California,0.0,35.0,1.0,0.0,6111.0,Ventura,34.444657,-119.091061,"Ventura, California, US",2020-03-24 23:37:31
17605,US,California,0.0,8.0,1.0,0.0,6113.0,Yolo,38.682789,-121.901829,"Yolo, California, US",2020-03-24 23:37:31
17612,US,California,0.0,3.0,0.0,0.0,6115.0,Yuba,39.262559,-121.353564,"Yuba, California, US",2020-03-24 23:37:31

In [53]:
df.rename(columns={'Admin2':'City'}, inplace=True)

In [50]:
df.drop(columns='Combined_Key', inplace=True)

In [55]:
df.to_csv('covid19_cleanup.csv', index=False)